{% extends 'base.html' %}

{% block title %}
    Delete Post -
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="mt-5">
            Are you sure you want to delete "{{ post.title }}"?
        </h1>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post" class="my-5">
            {% csrf_token %}
            {% load crispy_forms_tags %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-danger">
                Delete
            </button>
        </form>
    </div>
{% endblock %}