{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}

{% block content %}

    {% load crispy_forms_tags %}
    <div class="container">
        <h1>Profile</h1>
        <p>Welcome, {{ user.username }}</p>
        <a
                class="link"
                href="{% url 'change_password' %}">
            Change Password
        </a>
        <br/>
        <a
                class="link"
                href="{% url 'change_password_without_old' %}">
            Change Password Without Old
        </a>

        {% if messages %}
            {% for m in messages %}
                <div class="toast d-block" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <strong class="me-auto">
                            Success
                        </strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        {{ m }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <form method="post" novalidate>
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>


{% endblock %}